* {
    margin: 0;
    padding: 0;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "title title"
    "header header"
    "sidebar sidebar"
    "content content"
    "footer footer";
    grid-gap: 10px;
}

.title {
    grid-area: title;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
    display: grid;
}

.footer {
    grid-area: footer;
}

.grid div:nth-child(even) {
    background-color: aqua;
}

.grid div:nth-child(odd) {
    background-color: palevioletred;
} 

@media screen and (min-width: 736px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 500px 500px 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        ". title title ."
        ". header header ."
        ". sidebar content ."
        ". footer footer .";
    }
}

/* 

grid with wraper, i.e. blank space on both left and right

.grid {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". title title ."
    ". header header ."
    ". sidebar content ."
    ". footer footer .";
}

Useful tips: 

1. You can use justify-self to position a section
    to the left, center or right side of the grid;
2. Use align-self for positioning up or down
  

*/